<%= render 'shared/session' %>
<h1>
Showing a Todo.
</h1>
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading"><%= @todo.name.capitalize %></h4>
    <p class="list-group-item-text"> <%=  simple_format( @todo.description )%></p>
  </a>
</div>
<%= link_to 'Edit this todo', edit_todo_path(@todo),class: "btn btn-info" %> |
<%= link_to 'List of todo', todos_path, class: "btn btn-warning" %>
